EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_API_BASE_URL=https://mlamh.net
EXPO_PUBLIC_DEFAULT_MARKET=SA
EXPO_PUBLIC_EAS_PROJECT_ID=ca757cb1-e91c-4e8c-a3a9-6cee885e483a
